
<h1>Listing Authors</h1>
<div class="table-responsive">
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Books</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 

 

  <% @authors.each do |author| %>
    <div class="col-sm-6 col-md-3">
      <div class="">
      
        <tr>
          <td><%= author.name %></td>
          <td><%= author.books.pluck(:name).join(", ") %></td>
          <td><%= link_to "Show", author %></td>
          <td><%= link_to "Edit", edit_author_path(author) %></td>
          <td><%= link_to "Remove", author, method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
      </div>
    </div>
  <% end %>

</table>
</div>
 
<br>
<%= link_to "New Author", new_author_path %>
