<h1>Author's Information</h1>

<div class="row">
<div class="field col-sm-6">
  <p>Name</p>
  <div class="form-group">
  	<%= @author.name %>
  </div>
</div>

<div class="field col-sm-6">
  <p>Books</p>
  <div class="form-group">
  	<% @author.books.each do |book| %>
  		<p> <%= book.name %> </p>
  	<% end %>
  </div>
</div>
</div>
<%= link_to 'Edit', edit_author_path(@author) %> |
