<%= form_for(@book, html: { class: "m-t"}) do |f| %>

<div class="field">
  <%= f.label :name %><br />
  <div class="form-group" style="border-left: 3px solid #00a2bd;">
  <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>
</div>

<div class="field">
  <%= f.label :books %><br />
  <div class="form-group" style="border-left: 3px solid #00a2bd;">
  <%= f.collection_select :author_ids, Author.order(:name), :id, :name, {}, {multiple: true, class: "form-control"} %>
  </div>
</div>

<div class="actions">
	<%= f.submit "Create Book", class: "btn btn-lg btn-primary btn-block" %>
</div>

<% end %>