
<h1>Book's Information</h1>
<div class="dashed"></div>
<div class="row">
<div class="field col-sm-6">
  <p>Name</p>
  <div class="form-group">
  	<%= @book.name %>
  </div>
</div>

<div class="field col-sm-6">
  <p>Books</p>
  <div class="form-group">
  	<% @book.authors.each do |author| %>
  		<p> <%= author.name %> </p>
  	<% end %>
  </div>
</div>
</div>
<%= link_to 'Edit', edit_book_path(@book) %> |
