<!DOCTYPE html>
<html>
  <head>
    <title>InterviewProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="content-wrapper">

        <section class="content">
      
          <div class="container-fluid">
    <%= yield %>
    </div>
    </section>
    </div>
  </body>
</html>
